$tablet-width: 768px;
$desktop-width: 1130px;
$wideScreen-width: 1460px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin wideScreen {
  @media (max-width: #{$wideScreen-width}) {
    @content;
  }
}