@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0
}
    
body {
    font-family: 'Montserrat', sans-serif;
    background-color:#e2f3f5;
    color: #0E153A;
    font-size: 80%;
}

.header {
    width: 100%;
    background-color: $primary-color;
    height: 8vh;
    color: #e2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.heading-container {
    width: 100%;
    
    &__heading {
        height: 66.9vh;
        width: 80%;
        margin: auto;
        max-width: $content-max-width;
        position: relative;
    }

    img {
        position: absolute;
        opacity: 0.4;
        right: 0;
        width: 800px;
        z-index: -1;
    }

    h1 {
        font-weight: normal;
        font-size: 4.5em;
        margin-bottom: 0.5em;
    }

    p {
        width: 50%;
        line-height: 1.8em;
        font-size: 1.3em;
    }
    
}

.cards-container {
    width: 100%;
    background-color: $primary-color;
    padding: 1em 0 1em 0;
}

.cards {
    width: 80%;
    margin: auto;
    max-width: $content-max-width;
    display: flex;
    justify-content: space-between;

    &__card {
        width: 20%;
        color: #e2f3f5;
        text-align: center;
        box-shadow: 0 0px 5.7px rgba(0, 0, 0, 0.145),
                    0 0px 19px rgba(0, 0, 0, 0.215),
                    0 0px 85px rgba(0, 0, 0, 0.36);

        border-radius: 30px;
    }

    img {
        width: 50%;
        height: 40%;
        padding: 1.3em 0 1.3em 0;
    }

    p {
        padding: 0 1.3em 0 1.3em;
    }
}

.articles {
    width: 80%;
    margin: auto;
    max-width: $content-max-width;
    padding-top: 3em;

    img {
        width: 50%;
        height: 50%;
    }
}

.odd {
    display: flex;
    margin-bottom: 3em;

    &__text {
        padding-left: 3em;
    }

    h1 {
        padding-bottom: 1em;
    }

    p {
        line-height: 2em;
    }
}

.even {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 3em;

    &__text {
        padding-right: 3em;
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    h1 {
        padding-bottom: 1em;
    }

    p {
        line-height: 2em;
    }
}

.footer-container {
    width: 100%;
    background-color: $primary-color;
}

.footer {
    color: white;
    width: 80%;
    margin: auto;
    max-width: $content-max-width;
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: space-between;

    img {
        height: 1.5em;
        padding: 10px;
    }

    &__address {
        display: flex;
        align-items: center;
    }

    &__company {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    &__phone {
        display: flex;
        align-items: center;
    }
}


@media screen and (max-width: 1024px) {

    .heading-container{
        &__heading {
            width: 90%;
        }
    
        p {
            width: unset;
        }
    }

    .cards {
        width: 90%;
    }

    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 850px) {
    .heading-container__heading {
        height: 37vh;
        img {
            width: 500px;
        }
    }

    .cards {
        display: block;
        width: 90%;

        &__card {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            line-height: 1.4em;
            font-size: 1.3em;
            margin: 1.3em 0 1.3em 0;
        }

        img {
            width: 15%;
            height: 20%;
            padding: 0.5em 0 0.5em 1em;
        }
    }

    .articles {
        width: 90%;
        font-size: 120%;
        img {
            width: 100%;
            margin-bottom: 3em;
        }
    }

    .odd,
    .even {
        flex-direction: column;
    }

    .odd {
        align-content: flex-end;
        text-align: end;
    }

    .even {
        img {
            align-self: flex-end;
        }
        &__text {
            text-align: left;
        }
    }
}

@media screen and (max-width: 570px) {
    .header {
        height: 5vh;
    }

    .cards__card {
            font-size: 0.8em;
            margin: 1.3em 0 1.3em 0;
        }

    .articles {
        font-size: 80%;
    }

    .heading-container {
        font-size: 75%;
        padding-top: 3em;
        img {
            width: 400px;
        }
    }

    .footer {
        font-size: 70%;
    }
}
