@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.overlay {
    background-color: white;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 4;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:#002651;
    overflow-x: hidden;
    position: relative;
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav {
    position: relative;
    z-index: 3;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $content-max-width;
    margin: auto;
    padding: 0 20px;

    i {
       font-size: 2em;
       display: none;
    }

    .logo {
        font-size: 3em;
    }

    &__btns {
        display: flex;
        justify-content: space-evenly;
        min-width: 50%;
        color: $color-purp;

        .btn {
            position: relative;
            display: inline-block;
            list-style: none;
            padding: 10px 15px;
            text-align: center;
            border-radius: 30px;
            transition: .5s;
            cursor: pointer;
            font-size: 1.3em;

            &:hover {
                background-color: $color-purp;
                color: white;
            }
        }

        .active {
            background-color: $color-purp;
            color: white;
        }

    }
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    min-height: 94vh;
    
    &__content {
        max-width: $content-max-width;
        margin: 0 40px;
        font-size: 2em;
        line-height: 1.5;

        p {
            margin-top: 20px;
        }

        .first {
            display: inline-block;
            width: 70%;
            margin-top: 15%;
        }

        .second {
            display: inline-block;
            margin: 15% 0 15% 15%;
        }
    }
}

.articles {
    max-width: $content-max-width;
    margin: auto;
}

.article {
    margin-top: 15%;
    padding: 0 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
        flex-direction: row-reverse;
    
        .text {
            text-align: right;
            margin-right: 100px;
        }
    }
    
    &:nth-child(odd) > .text {
        margin-left: 100px;
    }

    img {
        margin: 0 10px;
        height: auto;
        width: 100%;
        max-height: 600px;
        object-fit: contain;
    }

    .text {
        margin: 0 10px;
    }

    h1 {
        font-weight: 400;
    }

    p {
        font-weight: 100;
        margin-top: 5%;
        line-height: 40px;
    }
}

.footer-container {
    position: relative;
    background-image: url(../img/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.footer {
    position: absolute;
    width: 80%;
    bottom: 20%;
    display: flex;
    justify-content: space-between;

    &__logo {
        font-size: 3em;
    }

    &__contacts {
        font-size: 1.4em;
    }

    &__contacts > div {
        margin-bottom: 20px;
    }

    &__phone,
    &__address {
        display: flex;
        align-items: center;

        p {
            margin-left: 10px;
        }
    }
}

@include wideScreen {
    .hero__content {
        font-size: 1.5em;
        max-width: 1000px;
        margin-left: 40px;
        margin-right: 300px;
        line-height: 2;
    }

    .footer {
        &__logo {
            font-size: 2.5em;
        }

        &__contacts {
            font-size: 1em;
        }
    }
}

@include desktop {
    .hero__content {
        font-size: 1.2em;
        max-width: 1000px;
        margin-left: 40px;
        margin-right: 300px;
        line-height: 2;

        .second {
            margin: 15% 0;
        }
    }

    .article {
        font-size: 1em !important;
    }

    &:nth-child(even) {
        .text {
            margin-right: 20px !important;
        }
    }
    
    &:nth-child(odd) > .text {
        margin-left: 20px !important;
    }
}

@include tablet {
    .nav {
        .burger {
            display: block;
            cursor: pointer;
        }

        .cross {
            display: none;
            cursor: pointer;
        }

        &__btns{
            position: absolute;
            background-color: white;
            width: 100%;
            height: 94vh;
            top: 8vh;
            left: 0;
            flex-direction: column;
            align-items: center;
            transform: translateY(-100%);
            transition: ease-in 0.5s ;
            z-index: -1;

            .btn {
                width: 100%;
            }
        }

        .nav-active {
            display: flex;
            transform: translateY(0%);
        }
    }

    .hero {
        background-image: none;
        background-color: #b0eee1;
        margin: unset;

        &__content {
            margin: 0 20px;

            .first,
            .second {
                width: 100%;
                
            }

            .second {
                text-align: right;
            }
        }
    }

    .article {
        display: block;
        
        img {
            margin: unset;
            margin-bottom: 20px;
            padding: unset;
            
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;     
        bottom: 10%;

        &__contacts {
            font-size: .8em;
            margin-top: 30px;
        }
    }
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}


.lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;

  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
