@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #002651;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  position: relative;
  z-index: 3;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1424px;
  margin: auto;
  padding: 0 20px;
}

.nav i {
  font-size: 2em;
  display: none;
}

.nav .logo {
  font-size: 3em;
}

.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 50%;
  color: #dc64bb;
}

.nav__btns .btn {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  font-size: 1.3em;
}

.nav__btns .btn:hover {
  background-color: #dc64bb;
  color: white;
}

.nav__btns .active {
  background-color: #dc64bb;
  color: white;
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  min-height: 94vh;
}

.hero__content {
  max-width: 1424px;
  margin: 0 40px;
  font-size: 2em;
  line-height: 1.5;
}

.hero__content p {
  margin-top: 20px;
}

.hero__content .first {
  display: inline-block;
  width: 70%;
  margin-top: 15%;
}

.hero__content .second {
  display: inline-block;
  margin: 15% 0 15% 15%;
}

.articles {
  max-width: 1424px;
  margin: auto;
}

.article {
  margin-top: 15%;
  padding: 0 20px;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article:nth-child(even) .text {
  text-align: right;
  margin-right: 100px;
}

.article:nth-child(odd) > .text {
  margin-left: 100px;
}

.article img {
  margin: 0 10px;
  height: auto;
  width: 100%;
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.article .text {
  margin: 0 10px;
}

.article h1 {
  font-weight: 400;
}

.article p {
  font-weight: 100;
  margin-top: 5%;
  line-height: 40px;
}

.footer-container {
  position: relative;
  background-image: url(../img/footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 500px;
}

.footer {
  position: absolute;
  width: 80%;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  font-size: 3em;
}

.footer__contacts {
  font-size: 1.4em;
}

.footer__contacts > div {
  margin-bottom: 20px;
}

.footer__phone, .footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__phone p, .footer__address p {
  margin-left: 10px;
}

@media (max-width: 1460px) {
  .hero__content {
    font-size: 1.5em;
    max-width: 1000px;
    margin-left: 40px;
    margin-right: 300px;
    line-height: 2;
  }
  .footer__logo {
    font-size: 2.5em;
  }
  .footer__contacts {
    font-size: 1em;
  }
}

@media (max-width: 1130px) {
  .hero__content {
    font-size: 1.2em;
    max-width: 1000px;
    margin-left: 40px;
    margin-right: 300px;
    line-height: 2;
  }
  .hero__content .second {
    margin: 15% 0;
  }
  .article {
    font-size: 1em !important;
  }
  :nth-child(even) .text {
    margin-right: 20px !important;
  }
  :nth-child(odd) > .text {
    margin-left: 20px !important;
  }
}

@media (max-width: 768px) {
  .nav .burger {
    display: block;
    cursor: pointer;
  }
  .nav .cross {
    display: none;
    cursor: pointer;
  }
  .nav__btns {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 94vh;
    top: 8vh;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
    z-index: -1;
  }
  .nav__btns .btn {
    width: 100%;
  }
  .nav .nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .hero {
    background-image: none;
    background-color: #b0eee1;
    margin: unset;
  }
  .hero__content {
    margin: 0 20px;
  }
  .hero__content .first,
  .hero__content .second {
    width: 100%;
  }
  .hero__content .second {
    text-align: right;
  }
  .article {
    display: block;
  }
  .article img {
    margin: unset;
    margin-bottom: 20px;
    padding: unset;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 10%;
  }
  .footer__contacts {
    font-size: .8em;
    margin-top: 30px;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  -webkit-animation: fade-in 1.4s;
          animation: fade-in 1.4s;
}
/*# sourceMappingURL=styles.css.map */